#footer {
    position: relative;
    margin-top: 5rem;
    background: url(../assets/icons/book-trace-background.svg) no-repeat center;
    width: 100vw;
    height: 60vh;

  
    & footer {
  
        & .logo {
            display: flex;
            justify-content: center; /* Alinha horizontalmente */
            align-items: center; /* Alinha verticalmente */
            
            & img {
                margin-top: 5rem;
                width: 13rem;
            }
          }

      & .separator {
        display: flex;
        margin: 1rem auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 1px solid var(--shape-stroke);
        width: 18.5rem;

      }

      & .social {
        display: flex;
        gap: 2rem;
        justify-content: center;
        /* transform: translateY(11rem); */


        & a {
            & img {
                filter: invert(80%) saturate(18471%) hue-rotate(190deg) contrast(100%) brightness(1.5);
              }
        }
      }

      & ul {
        margin-top: 2rem;
        display: grid;
        gap: .8rem;
        padding-left: 2.5rem;


        & .title {
            font: var(--title-sm);
            color: var(--text-body);
            margin-bottom: 1.25rem;
        }

        & li a{
            display: grid;
            color: var(--blue-light);
        }
      }
    }
}
  

@media (width >= 80em) {
  #footer {
    position: absolute;
    margin-top: 5rem;
    background: url(../assets/icons/book-trace-background.svg) no-repeat center;
    width: 100vw;
    height: 50vh;
  
    & footer {
      position: relative;
  
        & .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            & img {
                margin-top: 10rem;
                margin-left: 10%;
                width: 16.5rem;
            }
          }

      & .separator {
        display: flex;
        justify-content: flex-start;
        margin-left: 10%;
        width: 16.5rem;
        gap: 5rem;
      }

      & .social {
        display: flex;
        gap: 1.2rem;
        justify-content: flex-start;
        margin-left: 11%;


        & a {
            & img {
                filter: invert(80%) saturate(18471%) hue-rotate(190deg) contrast(100%) brightness(1.5);
              }
        }
      }

      & nav {
        position: absolute;
        top: 47%;
        margin-left: 65%;


        & ul {
          margin-top: 2rem;
          display: grid;
          gap: .8rem;
  
  
          & .title {
            font: var(--title-xs);
            color: var(--text-body);
            margin-bottom: 1.25rem;
          }
  
          & li a {
            display: grid;
            color: var(--blue-light);
          }
        }
      }  
    }
}
}

@media (width >= 90em) {
    #footer {
      margin-top: 20rem;
      background: url(../assets/icons/book-trace-background.svg) no-repeat center center;
      background-size: 100% auto; /* Aumenta a largura do background */
  
      width: 100vw;
      height: 60vh;
  

      left: -1rem;

      & footer {
        position: relative;
    
          & .logo {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              
              & img {
                  margin-top: 12rem;
                  margin-left: 15%;
                  width: 16.5rem;
              }
            }
  
        & .separator {
          display: flex;
          justify-content: flex-start;
          margin-left: 15%;
          width: 16.5rem;
          gap: 5rem;
        }
  
        & .social {
          display: flex;
          gap: 1.2rem;
          justify-content: flex-start;
          margin-left: 15.8%;
  
  
          & a {
              & img {
                  filter: invert(80%) saturate(18471%) hue-rotate(190deg) contrast(100%) brightness(1.5);
                }
          }
        }
  
        & nav {
          position: absolute;
          top: 52%;
          margin-left: 65%;
  
  
          & ul {
            margin-top: 2rem;
            display: grid;
            gap: .8rem;
    
    
            & .title {
              font: var(--title-xs);
              color: var(--text-body);
              margin-bottom: 1.25rem;
            }
    
            & li a {
              display: grid;
              color: var(--blue-light);
            }
          }
        }  
      }
    }
  }