#kit {

    & .title {
        display: flex;
        justify-content: center;
        align-items: center;

        & img[src*="Vector"] {
            width: 2rem;
        }

    }

    & span {
        margin-top: .5rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;

        font: .875rem var(--body-md);
        color: var(--text-body);
        
    }
}

@media (width >= 80em) {
    #kit {
        position: relative;

        & .title {
            display: flex;
            justify-content: center;
            align-items: center;
    
            & img[src*="Vector"] {
                width: 5rem;
            }
    
        }

        
    & span {
        margin-top: .5rem;
        margin-bottom: 15rem;
        display: flex;
        justify-content: center;

        font: .875rem var(--body-md);
        color: var(--text-body);
        
    }

    & .book {
        position: relative;

        width: 80rem; 
        max-width: 85%; 
        margin: 0 auto;
        min-height: 40rem;

        & img:nth-child(1) {
            display: block;
            margin: auto;
            width: 28.16rem;
        }

        & img:nth-child(2) {
            position: absolute;

            bottom: 100%;
            left: 15%;

        }

        & img:nth-child(3) {
            position: absolute;

            left: 12%;
            bottom: 26%;
        }

        & img:nth-child(4) {
            position: absolute;

            width: 13.87rem;
            left: 17%;
            top: 67%;
            rotate: -10deg;
            z-index: -1;
        }

        & img:nth-child(5) {
            position: absolute;
            height: 33.62rem;

            bottom: 27%;
            left: 64%;
            rotate: 12deg;
            z-index: -1;
        }

        & img:nth-child(6) {
            position: absolute;
            width: 10.75rem;
            height: 33.62rem;

            top: 4%;
            left: 75%;
            rotate: 21deg;
            z-index: -2;
        }
        
        & img:nth-child(7) {
            position: absolute;

            top: 84%;
            left: 72%;

        }


        & p:nth-of-type(1) {
            position: absolute;

            font: var(--body-md);
            color: var(--text-body);
            bottom: 108%;
            left: 7%;
        }

        & p:nth-of-type(2) {
            position: absolute;

            font: var(--body-md);
            color: var(--text-body);
            bottom: 49%;
            left: 10%;
        }


        & p:nth-of-type(3) {
            position: absolute;

            font: var(--body-md);
            color: var(--text-body);

            top: 110%;
            left: 64%;
        }

    
        }
    }

}

@media (width >= 90em) {
    #kit {
        & .title {
            display: flex;
            justify-content: center;
            align-items: center;
    
            & img[src*="Vector"] {
                width: 5rem;
            }
    
        }

        
    & span {
        margin-top: .5rem;
        margin-bottom: 15rem;
        display: flex;
        justify-content: center;

        font: .875rem var(--body-md);
        color: var(--text-body);
        
    }

    & .book {
        position: relative;
        width: 80rem; 
        max-width: 85%; 
        margin: 0 auto;
        min-height: 40rem;

        & img:nth-child(1) {
            display: block;
            margin: auto;
            width: 28.16rem;
        }
    
        & img:nth-child(2) {
            position: absolute;
            width: 10%;
            top: -2%;
            left: 25%;
        }
    
        & img:nth-child(3) {
            position: absolute;
            left: 18%;
            bottom: 26%;
        }
    
        & img:nth-child(4) {
            position: absolute;
            left: 22%;
            top: 67%;
            rotate: -10deg;
            z-index: -1;
        }
    
        & img:nth-child(5) {
            position: absolute;
            height: 33.62rem;

            bottom: 28%;
            left: 62%;
            rotate: 9deg;
            z-index: -1;
        }
    
        & img:nth-child(6) {
            position: absolute;
            width: 13%;
            top: 4%;
            left: 72%;
            rotate: 23deg;
            z-index: -2;
        }
        
        & img:nth-child(7) {
            position: absolute;
            width: 10%;
            top: 83%;
            left: 69%;
        }
    
        & p:nth-of-type(1) {
            position: absolute;
            font: var(--body-md);
            color: var(--text-body);
            bottom: 105%;
            left: 20%;
        }
    
        & p:nth-of-type(2) {
            position: absolute;
            font: var(--body-md);
            color: var(--text-body);
            bottom: 49%;
            left: 17%;
        }
    
        & p:nth-of-type(3) {
            position: absolute;
            font: var(--body-md);
            color: var(--text-body);
            top: 105%;
            left: 62%;
        }
    }
}
}