#kit {

    & .title {
        display: flex;
        justify-content: center;
        align-items: center;

        & h2 {
            font: var(--title-lg);
        }

        & img[src*="Vector"] {
            width: 2rem;
        }

    }

    & span {
        margin-top: .5rem;
        margin-bottom: 10rem;
        display: flex;
        justify-content: center;

        font: .875rem var(--body-md);
        color: var(--text-body);
        
    }

    & .book-mobile {
        position: relative;

        & p {
            position: absolute;
            font: var(--body-md) ;
            color: var(--text-body);
            font-size: 10px;
        }

        & img:nth-child(1) {
            /* position: relative; */
            display: block;
            width: 9rem;
            margin: auto;
        }

        & img:nth-child(2) {
            position: absolute;

            width: 5rem;
            top: -5%;
            left: 13%;
        }

        & img:nth-child(3) {
            position: absolute;

            width: 2.18rem;
            top: 50%;
            left: 13%;
        }

        & img:nth-child(4) {
            position: absolute;

            width: 4.625rem;
            top: 68%;
            left: 17%;
            rotate: -5deg;
            z-index: -1;
        }

        & img:nth-child(5) {
            position: absolute;

            width: 3.625rem;
            height: 11.25;

            top: -13%;
            left: 64%;
            rotate: 12deg;
            z-index: -1;
        }

        & img:nth-child(6) {
            position: absolute;

            width: 3.625rem;
            height: 11.25;

            top: 10%;
            left: 72%;
            rotate: 18deg;
            z-index: -2;
        }

        & img:nth-child(7) {
            position: absolute;

            width: 3rem;
            top: 89%;
            left: 72%;
        }


        & p:nth-of-type(1) {
            top: -15%;
            left: 4%;
        }

        & p:nth-of-type(2) {
            top: 40%;
            left: 7%;
        }

        & p:nth-of-type(3) {
            top: 118%;
            left: 59%;
        }

    }
}


@media (width >= 41.6875em) {
    #kit {

        & .title {
            display: flex;
            justify-content: center;
            align-items: center;
    
            & h2 {
                font: var(--title-lg);
            }
    
            & img[src*="Vector"] {
                width: 2rem;
            }
    
        }
    
        & span {
            margin-top: .5rem;
            margin-bottom: 10rem;
            display: flex;
            justify-content: center;
    
            font: .875rem var(--body-md);
            color: var(--text-body);
            
        }
    
        & .book-mobile {
            position: relative;
    
            & p {
                position: absolute;
                font: var(--body-md) ;
                color: var(--text-body);
                font-size: 10px;
            }
    
            & img:nth-child(1) {
                /* position: relative; */
                display: block;
                width: 9rem;
                margin: auto;
            }
    
            & img:nth-child(2) {
                position: absolute;
    
                width: 5rem;
                top: -5%;
                left: 28.5%;
            }
    
            & img:nth-child(3) {
                position: absolute;
    
                width: 2.18rem;
                top: 50%;
                left: 29.5%;
            }
    
            & img:nth-child(4) {
                position: absolute;
    
                width: 4.625rem;
                top: 68%;
                left: 32%;
                rotate: -5deg;
                z-index: -1;
            }
    
            & img:nth-child(5) {
                position: absolute;
    
                width: 3.625rem;
                height: 11.25;
    
                top: -13%;
                left: 57.5%;
                rotate: 12deg;
                z-index: -1;
            }
    
            & img:nth-child(6) {
                position: absolute;
    
                width: 3.625rem;
                height: 11.25;
    
                top: 10%;
                left: 62.5%;
                rotate: 18deg;
                z-index: -2;
            }
    
            & img:nth-child(7) {
                position: absolute;
    
                width: 3rem;
                top: 88%;
                left: 62%;
            }
    
    
            & p:nth-of-type(1) {
                top: -15%;
                left: 22%;
            }
    
            & p:nth-of-type(2) {
                top: 40%;
                left: 25.5%;
            }
    
            & p:nth-of-type(3) {
                top: 118%;
                left: 53%;
            }
    
        }
    }
}


@media (width >= 80em) {
    #kit {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 50rem;
            height: 50rem;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: var(--pink-dark);
            filter: blur(350px);
            border-radius: 50%;
            z-index: -1;
            pointer-events: none;
        }

        & .title {
            display: flex;
            justify-content: center;
            align-items: center;
    
            & img[src*="Vector"] {
                width: 5rem;
            }
    
        }

        
    & span {
        margin-top: .5rem;
        margin-bottom: 15rem;
        display: flex;
        justify-content: center;

        font: .875rem var(--body-md);
        color: var(--text-body);
        
    }

    & .book {
        position: relative;

        width: 80rem; 
        max-width: 85%; 
        margin: 0 auto;
        min-height: 40rem;

        & img:nth-child(1) {
            display: block;
            margin: auto;
            width: 28.16rem;
        }

        & img:nth-child(2) {
            position: absolute;

            transition: transform 500ms ease;
            bottom: 80%;
            left: 35%;
            z-index: -2;

        }

        & img:nth-child(3) {
            position: absolute;

            transition: transform 500ms ease;
            left: 35%;
            bottom: 20%;
            z-index: -2;
        }

        & img:nth-child(4) {
            position: absolute;

            width: 13.87rem;

            transition: transform 500ms ease;
            left: 37%;
            top: 55%;
            rotate: -10deg;
            z-index: -1;
        }

        & img:nth-child(5) {
            position: absolute;
            height: 33.62rem;


            transition: transform 500ms ease;
            bottom: 12%;
            left: 40%;
            rotate: 12deg;
            z-index: -1;
        }

        & img:nth-child(6) {
            position: absolute;
            width: 10.75rem;
            height: 33.62rem;

            transition: transform 500ms ease;
            top: 4%;
            left: 45%;
            rotate: 21deg;
            z-index: -2;
        }
        
        & img:nth-child(7) {
            position: absolute;

            transition: transform 500ms ease;
            top: 62%;
            left: 50%;
            z-index: -2;
        }


        & p:nth-of-type(1) {
            position: absolute;

            font: var(--body-md);
            color: var(--text-body);

            transition: transform 500ms ease;
            bottom: 90%;
            left: 35%;
            z-index: -2;
        }

        & p:nth-of-type(2) {
            position: absolute;

            font: var(--body-md);
            color: var(--text-body);

            transition: transform 500ms ease;
            bottom: 40%;
            left: 40%;
            z-index: -2;
        }


        & p:nth-of-type(3) {
            position: absolute;

            font: var(--body-md);
            color: var(--text-body);

            transition: transform 500ms ease;
            top: 70%;
            left: 50%;
            z-index: -2;
        }

    }
    & .book:hover {
        & p:nth-of-type(1) {
            transform: translate(-18rem, -7rem);
        }

        & img:nth-child(2) {
            transform: translate(-13.5rem, -8rem);
            transition-delay: 100ms;
        }

        & p:nth-of-type(2) {
            transform: translate(-20rem, -4rem);
        }

        & img:nth-child(3) {
            transform: translate(-16rem, -3rem);
            transition-delay: 50ms;
        }

        & img:nth-child(4) {
            transform: translate(-14.5rem, 2rem);
            transition-delay: 100ms;
        }

        & img:nth-child(5) {
            transform: translate(14rem, -10rem);
            transition-delay: 100ms;
            rotate: 12deg;
        }

        & img:nth-child(6) {
            transform: translate(19rem, -5rem);
            transition-delay: 150ms;
            rotate: 21deg;
        }

        & img:nth-child(7) {
            transform: translate(14rem, 11rem);
            transition-delay: 180ms;
        }

        & p:nth-of-type(3) {
            transform: translate(9rem, 18rem);
            transition-delay: 180ms;
        }
    }

}

}

@media (width >= 90em) {
    #kit {
        & .title {
            display: flex;
            justify-content: center;
            align-items: center;
    
            & img[src*="Vector"] {
                width: 5rem;
            }
    
        }

        
    & span {
        margin-top: .5rem;
        margin-bottom: 15rem;
        display: flex;
        justify-content: center;

        font: .875rem var(--body-md);
        color: var(--text-body);
        
    }

    & .book {
        position: relative;
        width: 80rem; 
        max-width: 85%; 
        margin: 0 auto;
        min-height: 40rem;

        margin-bottom: 25rem;

        & img:nth-child(1) {
            display: block;
            margin: auto;
            width: 28.16rem;
        }
    
        & img:nth-child(2) {
            position: absolute;
            width: 10%;
            top: 10%;
            left: 45%;

            transition: transform 500ms ease;

            z-index: -1;
        }
    
        & img:nth-child(3) {
            position: absolute;
            left: 45%;
            bottom: 20%;

            transition: transform 500ms ease;
            z-index: -1;
        }
    
        & img:nth-child(4) {
            position: absolute;
            left: 35%;
            top: 58%;
            rotate: -10deg;

            transition: transform 500ms ease;
            z-index: -1;
        }
    
        & img:nth-child(5) {
            position: absolute;
            height: 33.62rem;

            bottom: 12%;
            left: 45%;
            transition: transform 500ms ease;
            z-index: -1;
        }
    
        & img:nth-child(6) {
            position: absolute;
            width: 13%;
            top: 4%;
            left: 45%;
            transition: transform 500ms ease;
            z-index: -2;
        }
        
        & img:nth-child(7) {
            position: absolute;
            width: 10%;
            top: 65%;
            left: 49%;

            transition: transform 500ms ease;
            z-index: -1;
        }
    
        & p:nth-of-type(1) {
            position: absolute;
            font: var(--body-md);
            color: var(--text-body);
        
            bottom: 90%;
            left: 40%;
            transition: transform 500ms ease;
            z-index: -1;
        }
    
        & p:nth-of-type(2) {
            position: absolute;
            font: var(--body-md);
            color: var(--text-body);

            bottom: 35%;
            left: 45%;
            transition: transform 500ms ease;
            z-index: -1;
        }
    
        & p:nth-of-type(3) {
            position: absolute;
            font: var(--body-md);
            color: var(--text-body);

            top: 80%;
            left: 50%;
            transition: transform 500ms ease;
            z-index: -1;
        }
    }

            & .book:hover {
            & p:nth-of-type(1) {
                transform: translate(-17rem, -6rem);
            }

            & img:nth-child(2) {
                transform: translate(-16rem, -5rem);
                transition-delay: 100ms;
            }

            & p:nth-of-type(2) {
                transform: translate(-23rem, -6rem);
            }

            & img:nth-child(3) {
                transform: translate(-21rem, -3rem);
                transition-delay: 50ms;
            }

            & img:nth-child(4) {
                transform: translate(-10rem, 1rem);
                transition-delay: 100ms;
            }

            & img:nth-child(5) {
                transform: translate(13rem, -8rem);
                transition-delay: 100ms;
                rotate: 9deg;
            }

            & img:nth-child(6) {
                transform: translate(20rem, -8rem);
                transition-delay: 200ms;
                rotate: 23deg;
            }

            & img:nth-child(7) {
                transform: translate(17rem, 8.5rem);
                transition-delay: 250ms;
            }

            & p:nth-of-type(3) {
                transform: translate(11rem, 11.5rem);
                transition-delay: 250ms;
            }
        }
}
}

